<launch>
  <!-- 1. Load Vehicle Parameters -->
  <rosparam file="$(find localization)/config/car.yaml" command="load"/>


  <!-- 4. Wheel Odometry Node (publishes /wheel_odometry) -->
  <node pkg="localization" type="wheel_odom_node.py" name="wheel_odom_node" output="screen" />



  <!-- 5. Robot Localization EKF Node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="$(find localization)/config/ekf_local.yaml" />
  </node>
</launch>
