#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# dynamic_reconfigure configuration for Decoupled MPC controller

PACKAGE = "control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# ---- 예측 지평선 ---------------------------------------------------------
gen.add("N",  int_t,  0, "Prediction horizon steps (8 = 0.8s horizon)", 8, 2, 20)
gen.add("dt", double_t, 0, "Step time [s]", 0.1, 0.05, 0.2)

# ---- 비용 가중치 ----------------------------------------------------------
gen.add("w_cte",  double_t, 0, "CTE weight",                          5.0, 0.0, 50.0)
gen.add("w_he",   double_t, 0, "Heading error weight",                3.0, 0.0, 30.0)
gen.add("w_d",    double_t, 0, "Steering magnitude penalty",          0.1, 0.0, 10.0)
gen.add("w_dd",   double_t, 0, "Steering rate penalty",               2.0, 0.0, 50.0)

# ---- 제약 조건 ------------------------------------------------------------
gen.add("max_steer_deg",      double_t, 0, "Max steering angle [deg]",   40.0, 5.0, 40.0)
gen.add("max_steer_rate_deg", double_t, 0, "Max steer rate [deg/step]",  5.0, 0.5, 20.0)

# ---- 속도 정책 ------------------------------------------------------------
gen.add("speed_straight_kmh", double_t, 0, "Straight road target speed [km/h]", 60.0, 10.0, 100.0)
gen.add("speed_curve_kmh",    double_t, 0, "Curve/intersection speed [km/h]",   40.0, 10.0,  80.0)

exit(gen.generate(PACKAGE, "mpc_controller", "MPCParams"))
