<launch>
  <!-- ══════════════════════════════════════════════
       MORAI UDP Bridge — All nodes
       ══════════════════════════════════════════════ -->
  <include file="$(find morai_udp_bridge)/launch/sensors.launch" />
  <include file="$(find morai_udp_bridge)/launch/ego_network.launch" />
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
  <!-- <include file="$(find localization)/launch/sensor_tf.launch" /> -->
</launch>
