<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="indy7" params="prefix">

  <material name="indy_white">
    <color rgba="0.8941176470588236 0.8941176470588236 0.8941176470588236 1.0"/>
  </material>
  
  <link name="${prefix}link0">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_0.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_0.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.6703078"/>
      <origin rpy="0 0 0" xyz="0.00131966                             -2.18e-06                             0.03212832"/>
      <inertia ixx="0.00661309" ixy="1.83e-06" ixz="2.695e-05" iyy="0.00644765" iyz="-2.7e-07" izz="0.0079209"/>
    </inertial>
  </link>
  <link name="${prefix}link1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_1.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_1.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="11.44444535"/>
      <origin rpy="0 0 0" xyz="-0.00023749                             -0.04310313                             0.13245396"/>
      <inertia ixx="0.35065005" ixy="0.00011931" ixz="-0.00037553" iyy="0.304798" iyz="-0.10984447" izz="0.06003147"/>
    </inertial>
  </link>
  <link name="${prefix}link2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_2.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_2.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5.84766553"/>
      <origin rpy="0 0 0" xyz="-0.29616699                             2.254e-05                             0.04483069"/>
      <inertia ixx="0.03599743" ixy="-4.693e-05" ixz="-0.05240346" iyy="0.72293306" iyz="1.76e-06" izz="0.70024119"/>
    </inertial>
  </link>
  <link name="${prefix}link3">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_3.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_3.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.68206064"/>
      <origin rpy="0 0 0" xyz="-0.16804016                             0.00021421                             -0.07000383"/>
      <inertia ixx="0.0161721" ixy="-0.00011817" ixz="0.03341882" iyy="0.11364055" iyz="-4.371e-05" izz="0.10022522"/>
    </inertial>
  </link>
  <link name="${prefix}link4">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_4.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_4.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.12987371"/>
      <origin rpy="0 0 0" xyz="-0.00026847                             -0.0709844                             0.07649128"/>
      <inertia ixx="0.02798891" ixy="3.893e-05" ixz="-4.768e-05" iyy="0.01443076" iyz="-0.01266296" izz="0.01496211"/>
    </inertial>
  </link>
  <link name="${prefix}link5">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_5.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_5.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.22412271"/>
      <origin rpy="0 0 0" xyz="-0.09796232                             -0.00023114                             0.06445892"/>
      <inertia ixx="0.01105297" ixy="5.517e-05" ixz="-0.01481977" iyy="0.03698291" iyz="-3.74e-05" izz="0.02754795"/>
    </inertial>
  </link>
  <link name="${prefix}link6">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/visual/Indy7_6.stl"/>
      </geometry>
      <material name="indy_white"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://posco_robotics/meshes/indy7/collision/Indy7_6.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.38254932"/>
      <origin rpy="0 0 0" xyz="8.147e-05                             -0.00046556                             0.03079097"/>
      <inertia ixx="0.00078982" ixy="-3.4e-07" ixz="8.3e-07" iyy="0.00079764" iyz="-5.08e-06" izz="0.00058319"/>
    </inertial>
  </link>
  <link name="${prefix}tcp"/>
  <joint name="${prefix}global" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="${prefix}link0"/>
  </joint>
  <joint name="${prefix}joint0" type="revolute">
    <parent link="${prefix}link0"/>
    <child link="${prefix}link1"/>
    <origin rpy="0                         0                         0" xyz="0                          0                          0.0775"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.0" friction="0.0"/>
    <limit effort="431.97" lower="-3.0543261909900767" upper="3.0543261909900767" velocity="2.6179938779914944"/>
  </joint>
  <joint name="${prefix}joint1" type="revolute">
    <parent link="${prefix}link1"/>
    <child link="${prefix}link2"/>
    <origin rpy="1.570796327                         1.570796327                         0" xyz="0                          -0.109                          0.222"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1" friction="10.0"/>
    <limit effort="431.97" lower="-3.0543261909900767" upper="3.0543261909900767" velocity="2.6179938779914944"/>
  </joint>
  <joint name="${prefix}joint2" type="revolute">
    <parent link="${prefix}link2"/>
    <child link="${prefix}link3"/>
    <origin rpy="0                         0                         0" xyz="-0.45                          0                          -0.0305"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1" friction="10.0"/>
    <limit effort="197.23" lower="-3.0543261909900767" upper="3.0543261909900767" velocity="2.6179938779914944"/>
  </joint>
  <joint name="${prefix}joint3" type="revolute">
    <parent link="${prefix}link3"/>
    <child link="${prefix}link4"/>
    <origin rpy="-1.570796327                         0                         1.570796327" xyz="-0.267                          0                          -0.075"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1" friction="10.0"/>
    <limit effort="79.79" lower="-3.0543261909900767" upper="3.0543261909900767" velocity="3.141592653589793"/>
  </joint>
  <joint name="${prefix}joint4" type="revolute">
    <parent link="${prefix}link4"/>
    <child link="${prefix}link5"/>
    <origin rpy="1.570796327                         1.570796327                         0" xyz="0                          -0.114                          0.083"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1" friction="10.0"/>
    <limit effort="79.79" lower="-3.0543261909900767" upper="3.0543261909900767" velocity="3.141592653589793"/>
  </joint>
  <joint name="${prefix}joint5" type="revolute">
    <parent link="${prefix}link5"/>
    <child link="${prefix}link6"/>
    <origin rpy="-1.570796327                         0                         1.570796327" xyz="-0.168                          0                          0.069"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.1" friction="10.0"/>
    <limit effort="79.79" lower="-3.7524578917878086" upper="3.7524578917878086" velocity="3.141592653589793"/>
  </joint>
  <joint name="${prefix}tcp_fixed_joint" type="fixed">
    <parent link="${prefix}link6"/>
    <child link="${prefix}tcp"/>
    <origin rpy="0.0                         0.0                         0.0" xyz="0.0                          0.0                          0.06"/>
  </joint>

  <ros2_control name="indy" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="${prefix}joint0">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}joint1">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}joint2">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-1.57</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}joint3">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}joint4">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-1.57</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    <joint name="${prefix}joint5">
      <command_interface name="position">
        <param name="min">{-2*pi}</param>
        <param name="max">{2*pi}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">-3.15</param>
        <param name="max">3.15</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort"/>
    </joint>
    
    <!-- Gripper joints -->
    <joint name="finger_joint">
      <command_interface name="position">
        <param name="min">0</param>
        <param name="max">0.725</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    
    <!-- Mimic joints -->
    <joint name="left_inner_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="left_inner_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_outer_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_inner_knuckle_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="right_inner_finger_joint">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find posco_robotics)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
  
  <!-- Gazebo Grasp Fix Plugin - Model Plugin -->
  <gazebo>
    <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
      <arm>
        <arm_name>indy7</arm_name>
        <palm_link>link6</palm_link>
        <gripper_link>left_inner_finger</gripper_link>
        <gripper_link>right_inner_finger</gripper_link>
      </arm>
      <forces_angle_tolerance>100</forces_angle_tolerance>
      <update_rate>100</update_rate>
      <grip_count_threshold>3</grip_count_threshold>
      <max_grip_count>10</max_grip_count>
      <release_tolerance>0.01</release_tolerance>
      <disable_collisions_on_attach>false</disable_collisions_on_attach>
      <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo>

  <gazebo reference="${prefix}link0">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>

  <gazebo reference="${prefix}link1">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="${prefix}link2">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="${prefix}link3">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="${prefix}link4">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="${prefix}link5">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>
  <gazebo reference="${prefix}link6">
    <material>Gazebo/White</material>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
  </gazebo>

  </xacro:macro>
</robot>
